<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	 <bean id="b" class="com.tca.bean.ClassB">
    <property name="classA" ref="a"/>
</bean>

<bean id="a" class="com.tca.bean.ClassA">
    <constructor-arg name="classB" ref="b"/>
</bean>
    
   	
</beans>