<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		
		
		
		<bean id="pdfReportCreator" class="com.tca.bean.PdfReportCreator">
			
		</bean>
		
		<bean id="excelReportCreator" class="com.tca.bean.ExcelReportCreator">
			
		</bean>
		
		<bean id="reportManager" class="com.tca.bean.ReportManager">
			<constructor-arg  name="reportCreator" ref="pdfReportCreator"/>
		</bean>
		
		
 </beans>