<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="student" class="com.tca.bean.Student">
			<constructor-arg name="rno" value="101"/>
			<constructor-arg name="name" value="Pradeep"/>
			<constructor-arg name="fees" value="23000"/>
			<property name="passport" value="YES"/>
		</bean>
</beans>